build/windows/snes/snes.WindowsPhone/ARM/
build/windows/snes/snes.Windows/Release/
build/windows/snes/snes.WindowsPhone/Release/
build/windows/sega/sega.WindowsPhone/Release/
build/windows/sega/sega.WindowsPhone/ARM/
*.suo
build/windows/sega/sega.Windows/Release/
build/windows/nes/nes.WindowsPhone/Release/
build/windows/emulator/emulator.Windows/Release/
build/windows/nes/nes.Windows/Release/
build/windows/nes/nes.WindowsPhone/ARM/
build/windows/gb/gb.WindowsPhone/ARM/
build/windows/gb/gb.WindowsPhone/Release/
build/windows/gb/gb.Windows/Release/
build/windows/emulator/emulator.WindowsPhone/Release/
build/windows/emulator/emulator.WindowsPhone/ARM/
build/windows/emulator/emulator.WindowsPhone/Debug/
build/windows/nes/nes.WindowsPhone/Debug/
build/windows/sega/sega.Windows/ARM/
build/windows/nes/nes.Windows/Debug/
build/windows/sega/sega.WindowsPhone/Debug/
build/windows/sega/sega.Windows/Debug/
build/windows/nes/nes.Windows/ARM/
build/windows/snes/snes.Windows/Debug/
build/windows/snes/snes.Windows/ARM/
build/windows/gb/gb.WindowsPhone/Debug/
build/windows/gb/gb.Windows/Debug/
build/windows/snes/snes.WindowsPhone/Debug/
build/windows/gb/gb.Windows/ARM/
build/windows/emulator/emulator.Windows/Debug/
build/windows/emulator/emulator.Windows/ARM/
*.bc
build/javascript/roms/
build/javascript/nesbox.js
build/javascript/nesbox.js.mem
build/javascript/logo/node_modules/
build/windows/7z/7z.WindowsPhone/Debug/
build/windows/7z/7z.Windows/Debug/
build/static/Debug/
build/static/sega/sega/Release/
build/static/sega/sega/Debug/
build/static/nes/nes/Debug/
build/static/nes/nes/Release/
build/static/snes/snes/Debug/
build/static/snes/snes/Release/
build/static/gb/gb/Release/
build/static/gb/gb/Debug/
build/static/Release/
*.sdf
build/mingw/nesbox.lib
build/uwp/x64/
build/uwp/Release/vsuni.obj
build/uwp/Release/
build/uwp/ARM/
*.ipch
build/uwp/Debug/
build/windows/7z/7z.Windows/ARM/
build/windows/7z/7z.Windows/x64/
build/windows/emulator/emulator.Windows/x64/
build/windows/gb/gb.Windows/x64/
build/windows/nes/nes.Windows/x64/
build/windows/sega/sega.Windows/x64/
build/windows/snes/snes.Windows/x64/
build/android/obj/
build/android/libs/
.DS_Store
